.gallery {
  width: 100%;
  height: auto;
  margin-top: -30px;
}

.gallery h3{
  border-bottom: 4px solid #e50006;
  max-width: 55px;
}

button {
  margin: 0 auto;
  display: block;
}

.gallery h2 {
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
}
.gallery .gallery-box {
  margin-top: 5%;
  width: 100%;
  height: auto;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 2px #e4e9ed;
}

.gallery .gallery-box-display {
  border: 0px;
}
.gallery .gallery-box-display .card .card-body {
  background: #ffffff;
}

.gallery .gallery-box img{
  border-radius: 10%;
}

.gallery .gallery-box .card {
  padding: 0%;
}

.gallery .gallery-box .card .card-body {
  background: #ffffff;
}

.gallery .gallery-box-display{
  -webkit-box-shadow: 10px 10px 5px -5px rgba(214,214,214,1);
  -moz-box-shadow: 10px 10px 5px -5px rgba(214,214,214,1);
  box-shadow: 10px 10px 5px -5px rgba(214,214,214,1);
}

.gallery .gallery-box-display h5{
  color: black;
}

.card-body .title-card {
  height: 60px;
}

.card-body h4 {
  color: #000000;
}
.card-body .text {
  color: #000000;
  text-align: justify;
  font-size: 1vw;
}

.advertis-gallery {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.text {
  height: 50px;
}

.text p {
  font-size: 5vw;
}

.box-button {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-button .btn-load {
  background: red;
  width: 20%;
  color: white;
}

/* Carousel gallery */
/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .carousel-gallery {
  height: 50vh;
  min-height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  object-position: 50% 50%; /* default value: image is centered*/
  object-position: 0 0; /* positioned top left of the content box */
  background-size: 100% 100%;
}

/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
  top: 40%;
  bottom: auto;
  transform: translateY(-50%);
}

.carousel-caption h1 a {
  color: #ffffff;
  font-size: 2vw;

  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.5vw;
}
/* overlay for better readibility of the caption  */
.overlay-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}

.carousel .carousel-item {
  transition-duration: 1.5s;
}

.from .input-search {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding: 2%;
  border-radius: 20px;
  background: rgba(242, 241, 239, 0.8);
  color: #000;
}

.box-sosmed {
  width: 100%;
  height: auto;
  margin-top: -10px;
}

.box-sosmed h2 {
  font-size: 1.5vw;
  font-weight: bold;
}

.sosmed {
  width: 100%;
  height: auto;
  border: 3px solid red;
  border-radius: 10px;
}

.frame {
  width: 100%;
  height: 770px;
}

.embed-responsive{
  border-radius: 2%
}

.video-love{
  margin-top: -15px;
  font-size:xx-small !important;
  margin-bottom: 20px;
}

.classLightbox img{
  position: absolute;
  left: 15%;
  right: 25%;
  bottom: 25%;
  top: 25%;
  transform: translate(-50%, -50%);
}


@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
